# Which Wordpress directory to build, either "singlesite" or "multisite"
export WORDPRESS_BUILD_DIR=singlesite

# The MySQL container insists on a root password, so just pick one.
export MYSQL_ROOT_PASSWORD=password

# Database credentials
## The database name will be either "singlesite" or "multisite".
## Needs to be the same as WORDPRESS_BUILD_DIR above.
export MYSQL_DATABASE=singlesite
export MYSQL_USER=root
export MYSQL_PASSWORD=password
